<% provide :title, t("static_pages.home") %>
<h1><%= t("static_pages.sample_app") %></h1>
<p>
  <%= t("static_pages.title_home") %>
  <%= link_to t("static_pages.rails"), Settings.url.rails_tutorial %>
</p>
