<nav id="navbar-example2" class="navbar navbar-light bg-dark">
  <%= link_to t("static_pages.sample_app"), "home", class: "text-light" %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to t("static_pages.home"), "home", class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to t("static_pages.help"), "help", class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to t("auth.sign_up"), "#", class: "nav-link text-light" %>
    </li>
  </ul>
</nav>
