<nav id="navbar-example2" class="navbar navbar-light bg-dark">
  <%= link_to t("static_pages.sample_app"), root_url, class: "text-light" %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to t("static_pages.home"), root_url, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to t("static_pages.help"), help_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to t("auth.sign_up"), signup_path, class: "nav-link text-light" %>
    </li>
  </ul>
</nav>
